.sidebar{
    height:100%;
    width:200px;
    position:fixed;   
    color:#ffffff;
    background-color:#008793;
    font-size:18px;
    left:0;
    top:0;
    font-weight:bold;
    padding-top: 6em;
}

.menu-item{
    width:100%;
    display:block;
    /* padding:6px; */
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
    padding-top: 6px;
    text-align: left;
    border:none;
    white-space:normal;
    float:none;
    text-transform: uppercase;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    /* outline:0; */
}

.menu-item:hover{
    color:#008793;
    background-color:#ffffff;
}

a {
    color: #ffffff;
    text-decoration: none;
}
nav ul {
    list-style-type: none;
    margin: 0;
}

.container{
    padding:0.01em 16px;
    margin-top:16px;
    margin-bottom:16px;
}
.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu ul li {
    padding: 10px;
    /* border-bottom: 1px solid #ccc; */
    position: relative;
}
.menu ul li ul li {
    padding: 10px;
    border-bottom: 1px solid #cccccc;
    position: relative;
    border: none;
}
.menu ul li:hover ul {
    display: block;

}
.menu ul li ul {
    display: none;
    position:absolute;
    top: 0;
    left: 200px;
    background-color: #008793;
    width: 150px;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:large;
    background-image: url("./images/background.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
}

label, input {
    display:table-cell;
    margin-bottom: 10px;
    /* padding-right: 4px; */
}

input[type=text], [type=radio], [type=email], [type=tel] {
    border-color: #006871;
    border-style: solid;
    font-weight: bolder;
    vertical-align: bottom;
    padding: 8px;
}

textarea {
    border-color: #006871;
    border-style: solid;
}

input[type=radio],[type=checkbox] {
    height: 20px;
    width: 20px;
    vertical-align: middle;
    cursor: pointer;
}

fieldset {
    padding: 1em;
    border-color: #006871;
    margin-top: 16px;
}

button {
    margin-right: 20px;
}

#content {
    margin-left: 200px;
    /* margin-right: 120px; */
    /* width: 980px; */
    /* margin-left: auto;
    margin-right: auto; */
}

header {
    text-align: center;
    padding-top: 2em;
}


h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    color: #008793;
}

h2 {
    color:#008793
}

h3 {
    color:#006871;
}

.companyName {
    text-align:center;
}

#wrapper {
    margin-top:75px;
}

.home_gallery {
    text-align: center;
    padding-top: 6px;
    width: 100%;
    height: auto;
}

.contact_us {
    width: 70%;
    margin: auto;
    height: auto;
    padding-top: 2px;
    background-color: #d7fcff;
    border-radius: 24px;
    /* padding: 2em; */
    padding-bottom: 1em;
    padding-left: 2em;
    padding-right: 1em;
    /* margin-right: 8px; */
}

.send_message {
    width: 210px;
    background-color: #008793;
    border-radius: 24px;
    padding: 6px;
    text-align: center;
}

.send_message a {
    color: #ffffff;
}

p a{
    color: #008793;
}

img {
    border-radius: 24px;
    margin: 1em;
}

header img {
    width: 600px;
    height: 161px;

}

.main_image {
    width: 60%;
    height: auto;
    border-radius: 24px;
}

.home_section {
    width: 60%;
    height: auto;
    padding-top: 1em;
    padding-right: 6px;
    padding-bottom: 3em;
}

.home_image {
    width: 40%;
    height: auto;
    text-align: center;
    float: right;
    padding-top: 3em;
    padding-bottom: 4em;
    padding-left: 2em;
} 

.services_section1 {
    width: 60%;
    height: auto;
    padding-top: 1em;
    padding-right: 1em;
    padding-left: 2em;
    padding-bottom: 3em;
    border-radius: 24px; 

}

.services_gallery {
    width: 40%;
    height: auto;
    text-align: center;
    float: right;
    padding-top: 1em;
    padding-bottom: 2em;
    padding-left: 2em;
} 

.gallery_images {
    text-align: center;
    border-radius: 24px;
}

a.learnmore {
    color: #ffffff; 
    font-variant: small-caps;
    font-weight: bolder;
    background-color: #008793;
    text-decoration: none;
    padding: 1em 2em 1em 2em;
    border-radius: 20px;
    font-size: large;
}

a.learnmore:visited {
    color: #ffffff;
    font-variant: small-caps;
    font-weight: bolder;
    background-color: #008793;
    text-decoration: none;
}

.learnmore:hover {
    text-decoration: overline underline;
}

.table_massage {
    text-align: center;
    border-spacing: 0px;
    background-color: #f9ffff;
    border-radius: 24px;
    padding-top: 1em;
}

.table_massage .table_title {
    font-weight: bold;
    color: #006871;
    font-variant: small-caps;
    text-align: center;
}

.table_massage td {
    text-align: center;
    text-wrap: wrap;
    font-size:large;
}

.table_massage tr td p {
    text-align: left;
    text-wrap: wrap;
    font-size:large;
    vertical-align: top;
    /* text-align: justify; */
    padding-top: 4px;
    padding-right: 2em;
    padding-bottom: 2em;
    padding-left: 3em;
}

.table_massageprice {
    border-spacing: 0px;
    background-color: #f9ffff;
    border-radius: 24px;
    width: 100%;
    border: none;
    padding-bottom: 1em;
    padding-left: 1em;
}

.table_massageprice td {
    font-variant: small-caps;
    padding-top: 1em;
    padding-left: 2em;
    padding-bottom: 1em;
}

table .table_massageprice tr td {
    text-align: left;
}

/* table .table_massageprice tr td button {
    text-align: center;
} */

.booking {
    color: #ffffff; 
    font-variant: small-caps;
    font-weight: bolder;
    background-color: #008793;
    text-decoration: none;
    padding: 1em 2em 1em 2em;
    border-radius: 20px;
    border-style: none;
    width: 60%;
    font-size: large;
}

.booking:visited {
    color: #ffffff;
    font-variant: small-caps;
    font-weight: bolder;
    background-color: #008793;
    text-decoration: none;
}

.booking:hover {
    text-decoration: overline underline;
}

table tr td .bookingbtn {
    text-align: center;
}

.cancellation {
    width: 100%;
    padding-top: 4em;
}

.cancellation ul li{
    list-style-type: disc;
}

.cancellation ul li a {
    color: #008793;
}

.container {
    width: 100%;
}

h4 {
    color: #006871;
}

footer {
    text-align: center;
    color: #008793;
    text-transform: uppercase;
    font-size: small;
    padding-top: 2em;
    padding-bottom: 2px;
    text-decoration: overline underline;
}

@media (min-width:1024px) {
    nav ul { display:flex;
            flex-direction: column;
        flex-wrap: nowrap;
    justify-content: space-around;}
    #wrapper {
        margin: auto;
        width: 80%;
        header span {padding-left: 25%;}
    }
}

.sitemap a{
    color:#008793;
}

.reference a{
    color:#008793;
}

ul{
    list-style-type: none;
}

#yeshealth:checked ~ .checkbox-container,
#yesallergy:checked ~ .checkbox-container {
display:inline;
}

.checkbox-container{
display: none;
}

.yeslabel{
display: inline;
margin-bottom: 0px;
margin-left: 2px;
}

button[type=submit], [type=reset] {
    font-size: large;
    border-color: #006871;
    border-style: solid;
    border-radius: 24px;
    font-weight: bolder;
    color: #f9ffff;
    background-color: #008793;
    padding: 1em;
}

button[type=submit]:hover {
    font-size: large;
    border-color: #008793;
    border-style: solid;
    font-weight: bolder;
    color: #008793;
    background-color: #d7fcff;
    cursor: pointer;
}

button[type=reset]:hover {
    cursor: pointer;
}